@import "compass/css3";

body{
  background: #0e0e10;
  color: white;
  font-size: 120px;
  font-family: 'Poppins', sans-serif
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
$skew:20deg;
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.box {
  justify-content: center;
  display: flex;
  padding-right: 10%; 
  padding: 0!important;
}
.text_channel_name {
  font-size: 32px!important;
  text-align: center;
  text-decoration: overline;
}
.channel_image_ {
  position: relative;
  justify-content: center;
  display: flex;
  width: 122px;
  height: 122px;
  vertical-align: middle;
  border-radius: 61px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}
.text_channel_desc {
  font-size: 16px;
  text-align: center;
}
.text_channel_desc_box {
  justify-content: center;
  max-width: 3em;
  margin-left: auto;
  margin-right: auto;
}
a {
  color: #a6a6a6;
}
a:visited {
  color: #545454;
}
a:focus {
  color: #ececec;
}
a:hover {
  color: #ececec;
}
a:active {
  color: #cfcfcf;
}
.line_bottom__ {
  margin-top: 0;
  margin-bottom: 0;
}
.subs_count_text {
  margin: 0!important;
  text-align: center;
}
.status_api_text {
  font-size: 12px;
  color: #747474;
  text-align: center;
  padding: 0;
  margin-top: 15px;
}
.pinned_message_caption {
  font-size: 14px;
  text-align: center;
  color: #000;
}
.pinned_message_body {
  background: #eee;
  border-radius: 12px;
  max-width: 60%;
  padding: 1px;
  margin: auto;
}
.pinned_message_comment {
  font-size: 16px;
  text-align: center;
  text-decoration: overline;
}
.subs_count_comment {
  margin: 0;
  font-size: 20px;
  text-align: center;
  padding-left: 260px;
  text-transform: uppercase;
}
.btn-shine
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 12px 48px;
  color: #ffffff;
  background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  white-space: nowrap;
    
@keyframes shine
  0%
    background-position: 0
  60%
    background-position: 180px
  100%
    background-position: 180px
