@import "compass/css3";

body{
  background:#0e0e10;
  color:white;
  font-family:Roboto, sans-serif;
  font-size:120px;
}
.counter{
  position:relative;
  left:60px;
  top:40px;
}
.credit{
  position:fixed;
  bottom:20px;
  left:60px;
  font-size:16px;
}
$skew:20deg;
.counter-value{
  position:absolute;
  transform-origin:0 100%;
  transform:skew($skew,0);

  overflow:hidden;
  //border:1px dotted green;
  padding-right:30px;
  height:1em;
}
.counter-value-mask{
  position:absolute;
  transform-origin:0 100%;
  transform:skew(-$skew);
  overflow:hidden;
  line-height:1em;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.box {
  justify-content: center;
  display: flex;
  padding-right: 10%; 
}
.text_channel_name {
  font-size: 32px!important;
  text-align: center;
  text-decoration: overline;
}
.text_channel_desc {
  font-size: 16px;
  text-align: center;
}
